In [1]:
import pandas as pd

df = pd.read_csv('q3_data_csv.csv')

In [2]:
df

,Unnamed: 0,relevance_scores,qid,f1,f2,f3,f4,f5,f6,f7,...,f127,f128,f129,f130,f131,f132,f133,f134,f135,f136
0,0,0,4,3,0,3,0,3,1.000000,0.000000,...,61,0,8,122,508,131,136,0,0,0.000000
1,1,0,4,3,0,2,0,3,1.000000,0.000000,...,31,2,8,115,508,51,70,0,0,0.000000
2,2,0,4,3,0,3,0,3,1.000000,0.000000,...,32,82,17,122,508,83,107,0,10,13.350000
3,3,1,4,3,0,3,0,3,1.000000,0.000000,...,29,11,8,121,508,103,120,0,0,0.000000
4,4,0,4,3,1,2,1,3,1.000000,0.333333,...,45,82,7,123,4262,47,79,0,4,6.680000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,97,0,4,3,0,2,0,3,1.000000,0.000000,...,62,35,1,153,4872,9,55,0,0,0.000000
98,98,1,4,3,0,3,2,3,1.000000,0.000000,...,52,367,6,153,2383,18,99,0,16,11.316667
99,99,2,4,2,0,2,0,2,0.666667,0.000000,...,28,0,0,49182,26966,15,69,0,193,21.935560
100,100,1,4,2,0,2,0,2,0.666667,0.000000,...,23,0,1,42877,26562,12,24,0,56,62.920604
101,101,0,4,3,0,2,0,3,1.000000,0.000000,...,59,1415,14,5334,6434,4,17,0,0,0.000000

In [3]:
sorted_df = df.sort_values(by='relevance_scores', ascending=False)

In [4]:
sorted_df

,Unnamed: 0,relevance_scores,qid,f1,f2,f3,f4,f5,f6,f7,...,f127,f128,f129,f130,f131,f132,f133,f134,f135,f136
6,6,3,4,3,0,2,1,3,1.000000,0.0,...,32,349,8,123,281,22,6,0,0,0.000000
51,51,2,4,2,0,2,0,2,0.666667,0.0,...,21,1067,1,6930,8855,4,95,0,0,0.000000
75,75,2,4,2,0,1,0,2,0.666667,0.0,...,19,0,0,2417,721,14,113,0,13,47.900000
35,35,2,4,3,0,2,0,3,1.000000,0.0,...,17,0,2,12028,11379,26,24,0,77,23.959522
89,89,2,4,3,0,3,3,3,1.000000,0.0,...,67,27,0,814,13555,108,113,0,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44,44,0,4,3,0,2,1,3,1.000000,0.0,...,42,390,3,11156,12901,23,148,0,9,12.700000
43,43,0,4,2,0,0,0,2,0.666667,0.0,...,41,8,0,868,9260,246,88,0,0,0.000000
42,42,0,4,2,0,0,0,2,0.666667,0.0,...,38,4,0,797,9260,237,80,0,0,0.000000
41,41,0,4,3,0,3,1,3,1.000000,0.0,...,65,83,5,144,262,157,179,0,0,0.000000
101,101,0,4,3,0,2,0,3,1.000000,0.0,...,59,1415,14,5334,6434,4,17,0,0,0.000000

In [7]:
print(df['relevance_scores'].value_counts()[3])
print(df['relevance_scores'].value_counts()[2])
print(df['relevance_scores'].value_counts()[1])
print(df['relevance_scores'].value_counts()[0])

1
17
26
58

In [12]:
import numpy as np
def finding_DCG(df):
    rel_scores = list(df['relevance_scores'])
    DCG_score = 0
    for i in range(50):
        rel_i = rel_scores[i]
        log_val = np.log2(i+2)
        DCG_score = DCG_score + rel_i/log_val
    return DCG_score

In [13]:
DCG_ori = finding_DCG(df)
IDCG_val = finding_DCG(sorted_df)
nDCG_val = DCG_ori/ IDCG_val
print(nDCG_val)

0.3808155135893123